@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
  }

  body::-webkit-scrollbar {
    background: transparent;
    width: 8px;
    border-radius: 5px;
  }

  body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
}

.videos {
  width: 100%;
  display: grid;
  gap: 40px;
  height: 100vh;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 5px 20px;
}

